<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial intial-scale=1.0">
    <meta content="IE-edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, intial-scale=1.0" name="viewport">
    <title>Fur fuzz</title>

     <link rel="shortcut icon" href="images/fav-icon.png"/>
    <title>FUR FUZZ DAY CARE</title>
    <link rel="stylesheet" href="/css/daycare.css">
  </head>
  <body>
 
    <div class="navigation">
        <a href="#" class="logo"><img src="/images/logoo.png"></a>
        <div class="toggle"></div>
        <div></div>
  
        <ul class="menu">
          <li><a href="/api/home"><b>Home</b></a></li>
          <li  class="shop"><a href="/api/blog" >Blog</a></li>
            <div class="dropdown">
             <button class="dropbtn"><u>Shop</u>
               <i class="fa fa-caret-down"></i>
             </button>
             <div class="dropdown-content">
               <a href="/api/food">Food</a>
               <a href="/api/clothes">Clothes</a>
               <a href="/api/bowls">Bowls</a>
               <a href="/api/grooming">Grooming</a>
               <a href="/api/toys">Toys</a>
               <a href="/api/leash">Leash</a>
               <a href="/api/mat">Mat</a>
               <a href="/api/other">Others</a>
             </div>
             </div>
             </li>
            <span class="sale-lable">Sale</span>
          </li>
          <li><a href="/api/daycare">DAYCARE</a></li>
          <li><a href="/api/contact">CONTACT US</a></li>
        </ul>
        </div>
        <div class="right-menu">
           <a href="javascript:void(0);" class="search">
              <i class="fas fa-search"></i>
           </a>
           <a href="javascript:void(0);" class="user">
              <i class="far fa-user"></i>
           </a>
           <a href="#">
              <i class="fas fa-shopping-cart">
                 <span class="num-cart-product">0</span>
              </i>
           </a>
        </div>
        </div>
    <div class="wrapper">
        <div class="title">
            DAY CARE REGISTRATION
        </div>
        <div class="form">
            <div class="input_field">
                <label>OWNER'S NAME</label>
                <input type="text" class="input">
            </div>
            <div class="input_field">
                <label>PET'S NAME</label>
                <input type="text" class="input">
            </div>
            <div class="input_field">
                <label>PET BREED</label>
                <input type="text" class="input">
            </div>
            <div class="input_field">
                <label>AGE</label>
                <input type="text" class="input">
            </div>
            <div class="input_field">
                <label>TIME SLOT</label>
                <div class="custom_select">
                    <select>
                        <option value="">select</option>
                        <option value="7:30AM">7:30AM</option>
                        <option value="8:30AM">8:30AM</option>
                        <option value="9:30AM">9:30AM</option>
                        <option value="10:00AM">10:00AM</option>
                        <option value="10:30AM">10:30AM</option>
                        <option value="11:00AM">11:00AM</option>
                        <option value="12:00AM">12:00AM</option>
                    </select>
                </div>
            </div>
            <div class="input_field">
                <label>DATE</label>
                <input type="text" class="input">
            </div>
            <div class="input_field">
                <label>CONTACT NUMBER</label>
                <input type="text" class="input">
            </div>
            <div class="input_field">
                <label>ADDRESS</label>
                <textarea class="textarea"></textarea>
            </div>
            <div class="input_field">
                <label>SPECIAL REQUESTS</label>
                <input type="text" class="input">
            </div>
            <div class="input_field terms">
                <label class="check">
                    <input type="checkbox">
                    <span class="checkmark"></span>
                </label>
                <p>Agreed to Terms and Conditions</p>
            </div>
            <a href="#" class="regis">REGISTER</a>


    </div>
   
  </body>
  
</html>