<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE-edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, intial-scale=1.0" name="viewport">
    <title>Pet Store</title>

     <link rel="shortcut icon" href="#"/>
    <link rel="stylesheet" type="text/css" href="/css/blog.css">
  </head>

  <body>
    <div class="navigation">
      <a href="#" class="logo"><img src="/images/logoo.png"></a>
      <div class="toggle"></div>
      <div></div>

      <ul class="menu">
        <li><a href="/api/home"><b>Home</b></a></li>
        <li  class="shop"><a href="/api/blog" >Blog</a></li>
          <div class="dropdown">
           <button class="dropbtn"><u>Shop</u>
             <i class="fa fa-caret-down"></i>
           </button>
           <div class="dropdown-content">
             <a href="/api/food">Food</a>
             <a href="/api/clothes">Clothes</a>
             <a href="/api/bowls">Bowls</a>
             <a href="/api/grooming">Grooming</a>
             <a href="/api/toys">Toys</a>
             <a href="/api/leash">Leash</a>
             <a href="/api/mat">Mat</a>
             <a href="/api/other">Others</a>
           </div>
           </div>
           </li>
          <span class="sale-lable">Sale</span>
        </li>
        <li><a href="/api/daycare">DAYCARE</a></li>
        <li><a href="/api/contact">CONTACT US</a></li>
      </ul>
      </div>

    <div class=headd>
    <section>
      <img src="/images/sky 1.png", id="bg">
      <img src="/images/clouds.png", id="clouds">
      <img src="/images/yarn.png", id="moon">
      <img src="/images/cat.png", id="mountain">
      <img src="/images/BUTTERFLY.png" id="BUTTERFLY">
      <img src="/images/grass.png", id="road">
      <h2 id="text"><B>BLOGS</B></h2>
    </section>
    <script type="text/javascript">
      let bg=document.getElementById("bg");
      let clouds=document.getElementById("clouds");
      let moon=document.getElementById("moon");
      let mountain=document.getElementById("mountain");
      let BUTTERFLY=document.getElementById("BUTTERFLY");
      let road=document.getElementById("road");
      let text=document.getElementById("text");

      window.addEventListener('scroll',function(){
        var value = window.scrollY;

        bg.style.top=value*0.5 + 'px';
        clouds.style.left=value*1.5 + 'px';
        moon.style.left=value*0.5 + 'px';
        mountain.style.top=value*0.15 + 'px';
        BUTTERFLY.style.top=value*1.15 + 'px';
        road.style.top=value*0.15 + 'px';
        text.style.top=value*1 + 'px';


      })
    </script>
    </div>
    <div class="doggy">

    </div>
    <section class="cards-wrapper">
      <div class="card-grid-space">
  
        <a class="card" href="https://djangobrand.com/blogs/news/should-your-dog-wear-a-harness-or-a-collar-here-are-the-pros-and-cons-of-each-leash-attachment-type" style="--bg-img: url(https://i.pinimg.com/736x/a8/92/64/a892648758d77a08b6b58dd0b271c144.jpg)">
          <div>
            <h1>SHOULD YOUR DOG WEAR A HARNESS </h1>
            <p>HERE ARE THE PROS AND CONS OF EACH LEASH ATTACHMENT TYPE…</p>
            <div class="date">10 Nov 2021</div>
            <div class="tags">
              <div class="tag">Read More</div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space">

        <a class="card" href="https://www.pedigree.in/article-detail/5-major-benefits-of-buying-pet-insurance" style="--bg-img: url('https://keyassets.timeincuk.net/inspirewp/live/wp-content/uploads/sites/8/2021/02/GettyImages-997141470-e1614176377827.jpg')">
          <div>
            <h1>5 Major Benefits Of Buying Pet Insurance</h1>
            <p>Today, there is a growing trend of considering pets as full-fledged family members…</p>
            <div class="date">9 Oct 2021</div>
            <div class="tags">
              <div class="tag">Read More</div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space">
        <a class="card" href="https://www.onlynaturalpet.com/blogs/news/top-5-essentials-for-traveling-with-dogs-and-cats-in-2021" style="--bg-img: url('https://images.pexels.com/videos/7515918/adorable-animal-baby-dog-big-cat-7515918.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500')">
          <div>
            <h1>TOP 5 ESSENTIALS FOR TRAVELING WITH DOGS AND CATS IN 2021</h1>
            <p>Summer vacation season is here! And as things start to…</p>
            <div class="date">28 Jul 2021</div>
            <div class="tags">
              <div class="tag">Read More</div>
            </div>
          </div>
        </a>

        
      </div>

    
    </section>
    <div class="cato">

    </div>
    <section class="cards-wrapper">
      <div class="card-grid-space">
  
        <a class="card" href="https://basepaws.com/blogs/news/the-ultimate-guide-to-cat-fur-patterns-colors-and-markings" style="--bg-img: url(https://i.pinimg.com/564x/f2/1f/10/f21f108bcb6f4202c448fbcd51060df0.jpg)">
          <div>
            <h1>The Ultimate Guide to Cat Fur Patterns, Colors and Markings</h1>
            <p>There are six varieties of cat fur patterns. These are Tabby, Tortoiseshell…</p>
            <div class="date">15 Jul 2021</div>
            <div class="tags">
              <div class="tag">Read More</div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space">

        <a class="card" href="https://pettable.com/blog/what-are-the-different-types-of-cat-food" style="--bg-img: url('https://www.nawpic.com/media/2020/cute-cat-nawpic-7.jpg')">
          <div>
            <h1>What are the Different Types of Cat Food?</h1>
            <p>Today, there are hundreds of brands of cat food…</p>
            <div class="date">3 Sep 2021</div>
            <div class="tags">
              <div class="tag">Read More</div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space">
        <a class="card" href="https://thecat.blog/cat-advice/things-to-buy-for-a-cat/" style="--bg-img: url('https://memeadda.com/uploads/memes/cute-cat-face-1622878988.webp')">
          <div>
            <h1>7 Things to Buy for a Cat When Adopting</h1>
            <p>When adding a new cat to your family…</p>
            <div class="date">28 Jun 2020</div>
            <div class="tags">
              <div class="tag">Read More</div>
            </div>
          </div>
        </a>

        
      </div>

      <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
    </section>
    <div class="hamy">

    </div>

    <section class="cards-wrapper">
      <div class="card-grid-space">
  
        <a class="card" href="https://hamsterguru.com/how-often-do-you-clean-a-hamster-cage/" style="--bg-img: url(https://numpaint.com/wp-content/uploads/2020/08/cute-hamster-paint-by-number-247x296.jpg)">
          <div>
            <h1>How Often Do You Clean A Hamster Cage?</h1>
            <p>An important part of hamster care is knowing how to properly clean…</p>
            <div class="date">9 Aug 2021</div>
            <div class="tags">
              <div class="tag">Read More</div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space">

        <a class="card" href="https://hamsterguru.com/how-big-can-a-hamster-get/" style="--bg-img: url('https://www.rd.com/wp-content/uploads/2021/04/GettyImages-105082519-e1618341362696.jpg')">
          <div>
            <h1>How Big Can A Hamster Get?</h1>
            <p>Hamsters are one of America’s and the UK’s most popular pets…</p>
            <div class="date">9 Sep 2021</div>
            <div class="tags">
              <div class="tag">Read More</div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space">
        <a class="card" href="https://hamsterguru.com/how-fast-can-a-hamster-run/" style="--bg-img: url('https://media.istockphoto.com/photos/little-fluffy-hamster-looks-through-a-pink-torn-paper-closeup-picture-id1204564163?k=20&m=1204564163&s=612x612&w=0&h=Sh-sRqPRuda5-Qu1prkvL6IMdXq2QNGMaEEpjh22ajc=')">
          <div>
            <h1>How Fast Can A Hamster Run?</h1>
            <p>So, if you have yourself a pet hamster and you have seen it running around its cage…</p>
            <div class="date">14 Jun 2021</div>
            <div class="tags">
              <div class="tag">Read More</div>
            </div>
          </div>
        </a>

        
      </div>
   
      <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
    </section>
    <div class="fishy">

    </div>
    <section class="cards-wrapper">
      <div class="card-grid-space">
  
        <a class="card" href="https://stickpets.com/blog/top-5-best-pet-fish-of-all-time-freshwater" style="--bg-img: url(https://wallpaperaccess.com/full/4789334.png)">
          <div>
            <h1>The Top 5 Best Pet Fish of All Time</h1>
            <p>So, you’re looking for the perfect underwater pal to bring life…</p>
            <div class="date">14 Aug 2018</div>
            <div class="tags">
              <div class="tag">Read More</div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space">

        <a class="card" href="https://pethelpful.com/fish-aquariums/Aquarium-Tips-For-Beginners" style="--bg-img: url('https://i.pinimg.com/originals/f9/f8/52/f9f85284e616aab2c0bdf2803318b4bc.jpg')">
          <div>
            <h1>12 Aquarium Tips for Beginners</h1>
            <p>An aquarium full of fish is a beautiful and captivating sight…</p>
            <div class="date">27 Feb 2021</div>
            <div class="tags">
              <div class="tag">Read More</div>
            </div>
          </div>
        </a>
      </div>
      <div class="card-grid-space">
        <a class="card" href="https://www.thesprucepets.com/holiday-and-vacation-fish-care-and-feeding-1378525" style="--bg-img: url('https://5.imimg.com/data5/SELLER/Default/2021/2/OM/VG/ME/21472897/marine-water-fish-500x500.jpg')">
          <div>
            <h1>Holiday and Vacation Fish Care and Feeding</h1>
            <p>Are you traveling for the holidays…</p>
            <div class="date">6 Jul 2021</div>
            <div class="tags">
              <div class="tag">Read More</div>
            </div>
          </div>
        </a>

        
      </div>
      <!-- https://images.unsplash.com/photo-1520839090488-4a6c211e2f94?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=38951b8650067840307cba514b554ba5&auto=format&fit=crop&w=1350&q=80 -->
    </section>

  </body>
</html>