<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta content="IE-edge" http-equiv="X-UA-Compatible">
<meta content="width=device-width, intial-scale=1.0" name="viewport">
<title>Fur fuzz</title>
<!--fav-icon---------------->
<link rel="shortcut icon" href="images/fav-icon.png"/>
	<!--style----->
	<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    
		body{
			font-family:poppins;
		}
	</style>
	<link rel="javascript" href="/js/blog.js">
	<link rel="stylesheet" href="/css/stylesheet.css">
	
</head>
<body>
<div class="backg">
	<nav> 
		<!--social-links-and-phone-number----------------->
 <div class="social-call">
	 <!--social-links--->
	 <div class="social">
		 <a href="#"><i class="fab fa-facebook-f"></i></a>
		 <a href="#"><i class="fab fa-twitter"></i></a>
		 <a href="#"><i class="fab fa-youtube"></i></a>
		 <a href="#"><i class="fab fa-instagram"></i></a>
	 </div>
	 <!--phone-number------>
	 <div class="phone">
		 <span>Call: +91 xxxxxxxxxx</span>
	 </div>
 </div>
 <!--menu-bar----------------------------------------->
 <div class="navigation">
	<a href="#" class="logo"><img src="/images/logoo.png"></a>
	<div class="toggle"></div>
	<div></div>

	<ul class="menu">
	  <li><a href="/api/home"><b>Home</b></a></li>
	  <li  class="shop"><a href="/api/blog" >Blog</a></li>
		<div class="dropdown">
		 <button class="dropbtn">Shop
		   <i class="fa fa-caret-down"></i>
		 </button>
		 <div class="dropdown-content">
		   <a href="/api/food">Food</a>
		   <a href="/api/clothes">Clothes</a>
		   <a href="/api/bowls">Bowls</a>
		   <a href="/api/grooming">Grooming</a>
		   <a href="/api/toys">Toys</a>
		   <a href="/api/leash">Leash</a>
		   <a href="/api/mat">Mat</a>
		   <a href="/api/other">Others</a>
		 </div>
		 </div>
		 </li>
		<span class="sale-lable">Sale</span>
	  </li>
	  <li><a href="/api/daycare">DAYCARE</a></li>
	  <li><a href="/api/contact">CONTACT US</a></li>
	</ul>
	</div>
	 <div class="right-menu">
		 <a href="javascript:void(0);" class="search">
			 <i class="fas fa-search"></i>
		 </a>
		 <a href="javascript:void(0);" class="user">
			 <i class="far fa-user"></i>
		 </a>
		 <a href="#">
			 <i class="fas fa-shopping-cart">
				 <span class="num-cart-product">0</span>
			 </i>
		 </a>
	 </div>
	 </div>
 </nav>

 <br>
 <br>

 <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js"></script>
 <div class="slidercontainer">  
	<div class="showSlide fade">  
		<img src="/images/slider 1.png" />  
	</div>  
	<div class="showSlide fade">  
		<img src="/images/slider 2.png" />  
	</div>  

	<div class="showSlide fade">  
		<img src="/images/slider 3.png" />  
	</div>  
	<div class="showSlide fade">  
		<img src="/images/slider 4.png" />  
	</div>  
	<!-- Navigation arrows -->  
	<a class="left" onclick="nextSlide(-1)">❮</a>  
	<a class="right" onclick="nextSlide(1)">❯</a>  
</div>  
<script type="text/javascript">  
	var slide_index = 1;  
	displaySlides(slide_index);  

	function nextSlide(n) {  
		displaySlides(slide_index += n);  
	}  

	function currentSlide(n) {  
		displaySlides(slide_index = n);  
	}  

	function displaySlides(n) {  
		var i;  
		var slides = document.getElementsByClassName("showSlide");  
		if (n > slides.length) { slide_index = 1 }  
		if (n < 1) { slide_index = slides.length }  
		for (i = 0; i < slides.length; i++) {  
			slides[i].style.display = "none";  
		}  
		slides[slide_index - 1].style.display = "block";  
	}  
</script>
<section>
	
</section>
<a href="/html/toys.html"><div class="box2">
<div>
	<div class="wdiscount">
		YELLOW IS THE NEW BLACK
	</div>
	<div class="get">
	</div>
	<div class="discount">
	<button type="button"> 
		<b>	30% OFF</b></button>
	</div>
	<div class="end">
		<b>On all yellow <br>Merchandises</b>
	</div>
</div>
</div></a>

<div class="category">
			
</div>

  <ul id="autoWidth" class="container" class="cs-hidden">
	<!--box-1--------------------->
	<li class="item">
		<div class="feature-box">
			<a href="/html/toys.html">
				<img src="/images/TOYS.png">
			</a>
		</div>
		<span style="color: rgb(109, 7, 27)"><b>TOYS</b></span>
	</li>
	<!--box-2--------------------->
	<li class="item">
		<div class="feature-box">
			<a href="/html/grooming.html">
				<img src="/images/GROOMING.png">
			</a>
		</div>
		<span style="color: rgb(109, 7, 27)"><b>GROOMING</b></span>
	</li>
	<!--box-3--------------------->
	<li class="item">
		<div class="feature-box">
			<a href="/html/food.html">
				<img src="/images/FOOD.png">
			</a>
		</div>
		<span style="color: rgb(109, 7, 27)"><b>FOOD</b></span>
	</li>
	<!--box-4--------------------->
	<li class="item">
		<div class="feature-box">
			<a href="/html/clothes.html">
				<img src="/images/CLOTHING.png">
			</a>
		</div>
		<span style="color: rgb(109, 7, 27)"><b>CLOTHING</b></span>
	</li>
	</ul>
	
	<ul id="autoWidth" class="container" class="cs-hidden">
		<!--box-5--------------------->
		<li class="item">
			<div class="feature-box">
				<a href="/html/mat.html">
					<img src="/images/MATS.png">
				</a>
			</div>
			<span style="color: rgb(109, 7, 27)"><b>MATS</b></span>
		</li>
		<!--box-6--------------------->
		<li class="item">
			<div class="feature-box">
				<a href="/html/bowls.html">
					<img src="/images/BOWLS.png">
				</a>
			</div>
			<span style="color: rgb(109, 7, 27)"><b>BOWLS</b></span>
		</li>
		<!--box-7--------------------->
		<li class="item">
			<div class="feature-box">
				<a href="/html/leash.html">
					<img src="/images/LEASH_.png">
				</a>
			</div>
			<span style="color: rgb(109, 7, 27)"><b>LEASH</b></span>
		</li>
		<!--box-8--------------------->
		<li class="item">
			<div class="feature-box">
				<a href="/html/other.html">
					<img src="/images/OTHERSS.png">
				</a>
			</div>
			<span style="color: rgb(109, 7, 27)"><b>OTHER</b></span>
		</li>
		</ul>
		<a href="/html/clothes.html"><div class="box">
			<div>
				<div class="wdiscount">
					SPOOKY SEASON
				</div>
				<div class="get">
				</div>
				<div class="discount">
				<button type="button"> 
					<b>	50% OFF</b></button>
				</div>
				<div class="end">
					<b>On all HALLOWEEN <br>Costumes</b>
				</div>
			</div>

		</div></a>
		<div class="internet">

</div>

        <div class="body1">
		<div class="container1">
			<div class="wrapper1">
			   <a href="#">
			   <img src="https://www.almonature.com/wp-content/uploads/2016/06/dog-prato-1.jpg" alt="">
			   </a>
			   <div class="title1">
				  Marnie
			   </div>
			   <div class="place1">
				  AGE : 10
			   </div>
			</div>
			<div class="content1">
			   <p>
				 RESCUE DOG
			   </p>
			   <div class="buttons1">
				  <div class="btn1">
					 <button>1.7 MIL</button>
				  </div>
				  <div class="btn1">
					 <button>Following</button>
				  </div>
			   </div>
			</div>
			<div class="icons1">
			   <li><a href="https://www.instagram.com/marniethedog/"><span class="fab fa-instagram"></span></a></li>
			</div>

			
		 </div>
		 
		 <script>
			const img = document.querySelector("img");
			const icons = document.querySelector(".icons");
			img.onclick = function(){
			  this.classList.toggle("active");
			  icons.classList.toggle("active");
			}
		 </script>
<div class="container1">
	<div class="wrapper1">
	   <a href="#">
	   <img src="https://i.pinimg.com/originals/d7/fd/c9/d7fdc936190a79e1c68b118a3badcc97.jpg" alt="">
	   </a>
	   <div class="title1">
		  Maru the Shiba
	   </div>
	   <div class="place1">
		  JAPAN
	   </div>
	</div>
	<div class="content1">
	   <p>
		  MOST FAMOUS DOG IN JAPAN
	   </p>
	   <div class="buttons1">
		  <div class="btn1">
			 <button>2.5 MIL</button>
		  </div>
		  <div class="btn1">
			 <button>Following</button>
		  </div>
	   </div>
	</div>
	<div class="icons1">
	   <li><a href="https://www.instagram.com/marutaro/"><span class="fab fa-instagram"></span></a></li>
	</div>

	
 </div>
 
 <script>
	const img = document.querySelector("img");
	const icons = document.querySelector(".icons");
	img.onclick = function(){
	  this.classList.toggle("active");
	  icons.classList.toggle("active");
	}
 </script>

<div class="container1">
	<div class="wrapper1">
	   <a href="#">
	   <img src="https://wallpaperaccess.com/full/2269868.jpg" alt="">
	   </a>
	   <div class="title1">
		  Jiff Pom
	   </div>
	   <div class="place1">
		  POMERIAN
	   </div>
	</div>
	<div class="content1">
	   <p>
		  TWO WORLD RECORDS
	   </p>
	   <div class="buttons1">
		  <div class="btn1">
			 <button>10.5 M</button>
		  </div>
		  <div class="btn1">
			 <button>Following</button>
		  </div>
	   </div>
	</div>
	<div class="icons1">
	   <li><a href="https://www.instagram.com/jiffpom/"><span class="fab fa-instagram"></span></a></li>
	</div>

	
 </div>
 
 <script>
	const img = document.querySelector("img");
	const icons = document.querySelector(".icons");
	img.onclick = function(){
	  this.classList.toggle("active");
	  icons.classList.toggle("active");
	}
 </script>
		 </div>

		 
		
		<a href="/html/blog.html"><div class="Bloggg">
			
		</div></a>
          <section class="cards-wrapper">
            <div class="card-grid-space">

              <a class="card" href="https://sitstay.com/blogs/good-dog-blog/do-service-dogs-have-to-be-registered" style="--bg-img: url(https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/dog-puppy-on-garden-royalty-free-image-1586966191.jpg?crop=0.752xw:1.00xh;0.175xw,0&resize=640:*)">
                <div>
                  <h1>Do Service Dogs Have To Be Registered?</h1>
                  <p>Service dogs are professional pups that offer a world of help to those who need it. Providing a specific skill set comes with…</p>
                  <div class="date">1 Mar 20</div>
                  <div class="tags">
                    <div class="tag">Read More</div>
                  </div>
                </div>
              </a>
            </div>
            <div class="card-grid-space">

              <a class="card" href="https://www.petguide.com/blog/cat/how-to-bond-with-your-new-senior-cat/" style="--bg-img: url('https://imagesvc.meredithcorp.io/v3/mm/image?url=https%3A%2F%2Fstatic.onecms.io%2Fwp-content%2Fuploads%2Fsites%2F47%2F2020%2F06%2F26%2Ftiny-white-kitten-873941684-2000.jpg')">
                <div>
                  <h1>How To Bond With Your New Senior Cat</h1>
                  <p>Many things get better with age – including your cat! If you're thinking of adopting an senior cat, we've got a few ...</p>
                  <div class="date">4 Nov 2021</div>
                  <div class="tags">
                    <div class="tag">Read More</div>
                  </div>
                </div>
              </a>
            </div>
		
			<div class="card-grid-space">

				<a class="card" href="https://sitstay.com/blogs/good-dog-blog/best-interactive-dog-toys-in-2021" style="--bg-img: url('https://64.media.tumblr.com/966adb9c97dbb148ad3886438cc0c3af/tumblr_pj25ylR8fb1x1bfwyo1_1280.jpg')">
				  <div>
					<h1>The Best Interactive Dog Toys in 2021</h1>
					<p>Besides providing mental stimulation and easing boredom,interactive dog toys are an awesome way for your ....</p>
					<div class="date">21 Feb 2021</div>
					<div class="tags">
					  <div class="tag">Read More</div>
					</div>
				  </div>
				</a>
			  </div>
	    
	
          </section>
		  <a href="/html/food.html"><div class="box3">
			<div>
				<div class="wdiscount">
					FEED THE BEST
  				</div>
				<div class="get">
				</div>
				<div class="discount">
				<button type="button"> 
					<b>	70% OFF</b></button>
				</div>
				<div class="end">
					<b>On all Types of DOG <br>FOOD</b>
				</div>
			</div>
			
		</div></a>
		  <section class="services">
			<!--services-box---------->
			<div class="services-box">
				<i class="fas fa-shipping-fast"></i>
				<span>Free Shipping</span>
				<p>Free Shipping for all India order</p>
			</div>
			<!--services-box---------->
			<div class="services-box">
				<i class="fas fa-headphones-alt"></i>
				<span>Support 24/7</span>
				<p>We support 24h a day</p>
			</div>
			<!--services-box---------->
			<div class="services-box">
				<i class="fas fa-sync"></i>
				<span>100% Money Back</span>
				<p>You have 30 days to Return</p>
			</div>
			
		</section>
		<section>
			
		</section>
	
		<!--footer---------------------------->
		<footer>
			<span class="copyright">
				Copyright 2020 - group 14 
			</span>
			<div class="subscribe">
				<form>
				<input type="email" placeholder="Example@gmail.com" required/>
				<input type="submit" value="Subscribe">
				</form>
			</div>
		</footer>
	</div>	

	<script src="/js/home.js"></script>
</body> 
</html>