<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE-edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, intial-scale=1.0" name="viewport">
    <title>Fur fuzz</title>
    <!--fav-icon---------------->
    <link rel="shortcut icon" href="images/fav-icon.png"/>
        <!--style----->
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        
            body{
                font-family:poppins;
            }
        </style>
        <link rel="javascript" href="/html/blog.html">
        <link rel="stylesheet" href="/css/grooming.css">
        
</head>
<body>
  <div class="navigation">
    <a href="#" class="logo"><img src="/images/logoo.png"></a>
    <div class="toggle"></div>
    <div></div>

    <ul class="menu">
      <li><a href="/api/home"><b>Home</b></a></li>
      <li  class="shop"><a href="/api/blog" >Blog</a></li>
        <div class="dropdown">
         <button class="dropbtn">Shop
           <i class="fa fa-caret-down"></i>
         </button>
         <div class="dropdown-content">
           <a href="/api/food">Food</a>
           <a href="/api/clothes">Clothes</a>
           <a href="/api/bowls">Bowls</a>
           <a href="/api/grooming">Grooming</a>
           <a href="/api/toys">Toys</a>
           <a href="/api/leash">Leash</a>
           <a href="/api/mat">Mat</a>
           <a href="/api/other">Others</a>
         </div>
         </div>
         </li>
        <span class="sale-lable">Sale</span>
      </li>
      <li><a href="/api/daycare">DAYCARE</a></li>
      <li><a href="/api/contact">CONTACT US</a></li>
    </ul>
    </div>
        <div class="right-menu">
            <a href="javascript:void(0);" class="search">
                <i class="fas fa-search"></i>
            </a>
            <a href="javascript:void(0);" class="user">
                <i class="far fa-user"></i>
            </a>
            <a href="#">
                <i class="fas fa-shopping-cart">
                    <span class="num-cart-product">0</span>
                </i>
            </a>
        </div>
        </div>
    </nav>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js"></script>

    <section class="new-arrival">
            
        <!--heading-------->
        <div class="arrival-heading">
            <strong>Leashes</strong>
            <p>We Provide You New Fasion Design Clothes</p>
        </div>
          <!--products----------------------->
          <div class="product-container">
              
            <!--product-box-1---------->
              <div class="product-box">
                  <!--product-img------------>
                  <div class="product-img">
                      <!--add-cart---->
                      <a href="#" class="add-cart">
                          <i class="fas fa-shopping-cart"></i>
                        </a>
                      <!--img------>
                    <img src="https://m.media-amazon.com/images/I/81S1t0ZtzVL.jpg">
                  </div>
                  <!--product-details-------->
                  <div class="product-details">
                      <a href="#" class="p-name">Nylon Dog Leash- Blue</a>
                      <span class="p-price">Rs. 250</span>
                  </div>
              </div>
                <!--product-box-2---------->
                <div class="product-box">
                    <!--product-img------------>
                    <div class="product-img">
                        <!--add-cart---->
                      <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                      <!--img------>
                      <img src="https://m.media-amazon.com/images/I/71rlR+k9OOL._SX425_.jpg">
                    </div>
                    <!--product-details-------->
                    <div class="product-details">
                        <a href="#" class="p-name">Dog collar</a>
                        <span class="p-price">Rs. 300</span>
                    </div>
                </div>
              <!--product-box-3---------->
              <div class="product-box">
                <!--product-img------------>
                <div class="product-img">
                    <!--add-cart---->
                    <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                    <!--img------>
                  <img src="https://5.imimg.com/data5/VI/NW/YO/SELLER-2642037/black-dog-leash-collar-set-500x500.jpg">
                </div>
                <!--product-details-------->
                <div class="product-details">
                    <a href="#" class="p-name">Dog collar and leash set</a>
                    <span class="p-price">Rs. 450</span>
                </div>
            </div>
              <!--product-box-4---------->
              <div class="product-box">
                <!--product-img------------>
                <div class="product-img">
                    <!--add-cart---->
                    <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                    <!--img------>
                  <img src="https://s7d2.scene7.com/is/image/PetSmart/5295958?$pdp-placeholder-desktop$">
                </div>
                <!--product-details-------->
                <div class="product-details">
                    <a href="#" class="p-name">Retractable Dog Leash</a>
                    <span class="p-price">Rs. 700</span>
                </div>
            </div>
              <!--product-box-5---------->
              <div class="product-box">
                <!--product-img------------>
                <div class="product-img">
                    <!--add-cart---->
                    <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                    <!--img------>
                  <img src="https://5.imimg.com/data5/YD/PK/YK/SELLER-43357396/dog-harness-500x500.jpg">
                </div>
                <!--product-details-------->
                <div class="product-details">
                    <a href="#" class="p-name">Dog Harness</a>
                    <span class="p-price">Rs. 200</span>
                </div>
            </div>
              <!--product-box-6---------->
              <div class="product-box">
                <!--product-img------------>
                <div class="product-img">
                    <!--add-cart---->
                    <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                    <!--img------>
                  <img src="https://m.media-amazon.com/images/I/61tb6PKANfL._SL1500_.jpg">
                </div>
                <!--product-details-------->
                <div class="product-details">
                    <a href="#" class="p-name">Dog Harness No- Pull</a>
                    <span class="p-price">Rs. 400</span>
                </div>
            </div>
              <!--product-box-7---------->
              <div class="product-box">
                <!--product-img------------>
                <div class="product-img">
                    <!--add-cart---->
                    <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                    <!--img------>
                  <img src="https://m.media-amazon.com/images/I/71eOa2PywHL._SL1500_.jpg">
                </div>
                <!--product-details-------->
                <div class="product-details">
                    <a href="#" class="p-name">Cat Harness and leash set</a>
                    <span class="p-price">Rs. 450</span>
                </div>
            </div>
              <!--product-box-8---------->
              <div class="product-box">
                <!--product-img------------>
                <div class="product-img">
                    <!--add-cart---->
                    <a href="#" class="add-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <!--img------>
                  <img src="https://rukminim1.flixcart.com/image/416/416/jd94h3k0/pet-collar-harness/f/g/h/pa-02-cat-pets-empire-original-imaf244zqhfqcypy.jpeg?q=70">
                </div>
                <!--product-details-------->
                <div class="product-details">
                    <a href="#" class="p-name">Cat Harness</a>
                    <span class="p-price">Rs. 300</span>
                </div>
            </div>
            </div>
            <div class="product-container">
              
                <!--product-box-1---------->
                  <div class="product-box">
                      <!--product-img------------>
                      <div class="product-img">
                          <!--add-cart---->
                          <a href="#" class="add-cart">
                              <i class="fas fa-shopping-cart"></i>
                            </a>
                          <!--img------>
                        <img src="https://m.media-amazon.com/images/I/513rpYl65BL._SX569_.jpg">
                      </div>
                      <!--product-details-------->
                      <div class="product-details">
                          <a href="#" class="p-name">Hamster Harness</a>
                          <span class="p-price">Rs. 175</span>
                      </div>
                  </div>
                    <!--product-box-2---------->
                    <div class="product-box">
                        <!--product-img------------>
                        <div class="product-img">
                            <!--add-cart---->
                          <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                          <!--img------>
                          <img src="https://m.media-amazon.com/images/I/81NLbXNP1vL._AC_SS450_.jpg">
                        </div>
                        <!--product-details-------->
                        <div class="product-details">
                            <a href="#" class="p-name">Two piece Hamster Harness</a>
                            <span class="p-price">Rs. 300</span>
                        </div>
                    </div>
                </div>
      </section>

</body>
</html>