<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta content="IE-edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, intial-scale=1.0" name="viewport">
    <title>Fur fuzz</title>
    <!--fav-icon---------------->
    <link rel="shortcut icon" href="images/fav-icon.png"/>
        <!--style----->
        <style>
        @import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
        
            body{
                font-family:poppins;
            }
        </style>
        <link rel="javascript" href="/js/blog.js">
        <link rel="stylesheet" href="/css/grooming.css">
        
</head>
<body>
  <div class="navigation">
    <a href="#" class="logo"><img src="/images/logoo.png"></a>
    <div class="toggle"></div>
    <div></div>

    <ul class="menu">
      <li><a href="/api/home"><b>Home</b></a></li>
      <li  class="shop"><a href="/api/blog" >Blog</a></li>
        <div class="dropdown">
         <button class="dropbtn">Shop
           <i class="fa fa-caret-down"></i>
         </button>
         <div class="dropdown-content">
           <a href="/api/food">Food</a>
           <a href="/api/clothes">Clothes</a>
           <a href="/api/bowls">Bowls</a>
           <a href="/api/grooming">Grooming</a>
           <a href="/api/toys">Toys</a>
           <a href="/api/leash">Leash</a>
           <a href="/api/mat">Mat</a>
           <a href="/api/other">Others</a>
         </div>
         </div>
         </li>
        <span class="sale-lable">Sale</span>
      </li>
      <li><a href="/api/daycare">DAYCARE</a></li>
      <li><a href="/api/contact">CONTACT US</a></li>
    </ul>
    </div>
        <div class="right-menu">
            <a href="javascript:void(0);" class="search">
                <i class="fas fa-search"></i>
            </a>
            <a href="javascript:void(0);" class="user">
                <i class="far fa-user"></i>
            </a>
            <a href="#">
                <i class="fas fa-shopping-cart">
                    <span class="num-cart-product">0</span>
                </i>
            </a>
        </div>
        </div>
    </nav>
    <script crossorigin="anonymous" src="https://kit.fontawesome.com/c8e4d183c2.js"></script>

    <section class="new-arrival">
            
        <!--heading-------->
        <div class="arrival-heading">
            <strong>Other</strong>
            <p>We Provide You New Fasion Design Clothes</p>
        </div>
          <!--products----------------------->
          <div class="product-container">
              
            <!--product-box-1---------->
              <div class="product-box">
                  <!--product-img------------>
                  <div class="product-img">
                      <!--add-cart---->
                      <a href="#" class="add-cart">
                          <i class="fas fa-shopping-cart"></i>
                        </a>
                      <!--img------>
                    <img src="https://pyxis.nymag.com/v1/imgs/f35/ae9/2d8190a1478f4b093365ed63a57aca36fe.2x.rsquare.w600.jpg">
                  </div>
                  <!--product-details-------->
                  <div class="product-details">
                      <a href="#" class="p-name">NexGaurd (afoxolaner) Chewables</a>
                      <span class="p-price">Rs. 1,500</span>
                  </div>
              </div>
                <!--product-box-2---------->
                <div class="product-box">
                    <!--product-img------------>
                    <div class="product-img">
                        <!--add-cart---->
                      <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                      <!--img------>
                      <img src="https://5.imimg.com/data5/JV/CG/MY-7863908/wuff-wuff-ultramax-dog-herbal-tick-fever-tonic-200-ml-500x500.png">
                    </div>
                    <!--product-details-------->
                    <div class="product-details">
                        <a href="#" class="p-name">Ultra-Max Tick Fever Tonic</a>
                        <span class="p-price">Rs. 999</span>
                    </div>
                </div>
              <!--product-box-3---------->
              <div class="product-box">
                <!--product-img------------>
                <div class="product-img">
                    <!--add-cart---->
                    <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                    <!--img------>
                  <img src="https://pyxis.nymag.com/v1/imgs/ca4/95a/91a11d1a0a6186e60bfe9f6f5f933367d3-bravecto.rsquare.w600.jpg">
                </div>
                <!--product-details-------->
                <div class="product-details">
                    <a href="#" class="p-name">Bravecto Chews</a>
                    <span class="p-price">Rs. 1000</span>
                </div>
            </div>
              <!--product-box-4---------->
              <div class="product-box">
                <!--product-img------------>
                <div class="product-img">
                    <!--add-cart---->
                    <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                    <!--img------>
                  <img src="https://m.media-amazon.com/images/I/71s-kMEGWuS.jpg">
                </div>
                <!--product-details-------->
                <div class="product-details">
                    <a href="#" class="p-name">Anti Inflammatory for dogs</a>
                    <span class="p-price">Rs. 999</span>
                </div>
            </div>
              <!--product-box-5---------->
              <div class="product-box">
                <!--product-img------------>
                <div class="product-img">
                    <!--add-cart---->
                    <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                    <!--img------>
                  <img src="https://theveterinarymedicine.com/wp-content/uploads/2021/10/CAT-STAR-TONIC.jpg">
                </div>
                <!--product-details-------->
                <div class="product-details">
                    <a href="#" class="p-name">Cat Star Multivitamin and Coat Toner</a>
                    <span class="p-price">Rs. 899</span>
                </div>
            </div>
              <!--product-box-6---------->
              <div class="product-box">
                <!--product-img------------>
                <div class="product-img">
                    <!--add-cart---->
                    <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                    <!--img------>
                  <img src="https://assets.petco.com/petco/image/upload/f_auto,q_auto/3095172-center-1">
                </div>
                <!--product-details-------->
                <div class="product-detaisls">
                    <a href="#" class="p-name">Dewormer for Cats</a>
                    <span class="p-price">Rs. 880</span>
                </div>
            </div>
              <!--product-box-7---------->
              <div class="product-box">
                <!--product-img------------>
                <div class="product-img">
                    <!--add-cart---->
                    <a href="#" class="add-cart"><i class="fas fa-shopping-cart"></i></a>
                    <!--img------>
                  <img src="https://www.ubuy.co.in/productimg/?image=aHR0cHM6Ly9tLm1lZGlhLWFtYXpvbi5jb20vaW1hZ2VzL0kvNjFyNm4ySElxUlMuX0FDX1NMMTAwMF8uanBn.jpg">
                </div>
                <!--product-details-------->
                <div class="product-details">
                    <a href="#" class="p-name">BestLife4Pets Cat UTI </a>
                    <span class="p-price">Rs. 999</span>
                </div>
            </div>
              <!--product-box-8---------->
              <div class="product-box">
                <!--product-img------------>
                <div class="product-img">
                    <!--add-cart---->
                    <a href="#" class="add-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <!--img------>
                  <img src="https://cdn.evance.me/portal/web/8/content/images/English_Product_Images/15341_copy.jpg">
                </div>
                <!--product-details-------->
                <div class="product-details">
                    <a href="#" class="p-name">Anti-Parasite Spot-On for Hamsters </a>
                    <span class="p-price">Rs. 850</span>
                </div>
              </div>
                <div class="product-container">
                <!--product-box-1---------->
              <div class="product-box">
                <!--product-img------------>
                <div class="product-img">
                    <!--add-cart---->
                    <a href="#" class="add-cart">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <!--img------>
                  <img src="https://m.media-amazon.com/images/I/51LsyP1gRbL.jpg">
                </div>
                <!--product-details-------->
                <div class="product-details">
                    <a href="#" class="p-name">3-in-1 Fish Medicine Pack 120ml Each </a>
                    <span class="p-price">Rs. 850</span>
                </div>
            </div>
            </div>
      </section>

</body>
</html>